Implementation of sklearn

In [ ]:
import numpy as np
import pandas as pd
from sklearn import tree
import matplotlib.pyplot as plt

In [ ]:
data = {
    'age': ['<21', '<21', '21-35', '>35', '>35', '>35', '21-35', '<21', '<21', '>35', '<21', '21-35', '21-35', '>35'], 
    'income':['high','high','high','medium','low','low','low','medium','low','medium','medium','medium','high','medium'],
    'gender':['male','male','male','male','female','female','female','male','female','female','female','male','female','male'],
    'marital_status':['single', 'married', 'single', 'single', 'single', 'married', 'married', 'single', 'married','single','married','married','single','married'],
    'buys':['no','no','yes','yes','yes','no','yes','no','yes','yes','yes','yes','yes','no']
} 
df = pd.DataFrame.from_dict(data) 
df

      age  income  gender marital_status buys
0     <21    high    male         single   no
1     <21    high    male        married   no
2   21-35    high    male         single  yes
3     >35  medium    male         single  yes
4     >35     low  female         single  yes
5     >35     low  female        married   no
6   21-35     low  female        married  yes
7     <21  medium    male         single   no
8     <21     low  female        married  yes
9     >35  medium  female         single  yes
10    <21  medium  female        married  yes
11  21-35  medium    male        married  yes
12  21-35    high  female         single  yes
13    >35  medium    male        married   no

In [ ]:
X=df.iloc[:,[0,1,2,3]].values
y=df.iloc[:,-1].values

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1)

In [ ]:
from sklearn.preprocessing import LabelEncoder,OneHotEncoder #to convert categorical values to integer values
encoder=LabelEncoder()
X_train[:,0]=encoder.fit_transform(X_train[:,0])
X_train[:,1]=encoder.fit_transform(X_train[:,1])
X_train[:,2]=encoder.fit_transform(X_train[:,2])
X_train[:,3]=encoder.fit_transform(X_train[:,3])
X_test[:,0]=encoder.fit_transform(X_test[:,0])
X_test[:,1]=encoder.fit_transform(X_test[:,1])
X_test[:,2]=encoder.fit_transform(X_test[:,2])
X_test[:,3]=encoder.fit_transform(X_test[:,3])

In [ ]:
from sklearn.tree import DecisionTreeClassifier
classifier = DecisionTreeClassifier()
classifier = classifier.fit(X_train, y_train)

In [ ]:
y_pred = classifier.predict(X_test)

In [ ]:
classifier.predict([[1,1,0,0]])              #test data Age < 21,Income = Low, Gender = Female, Marital Status = Married

array(['yes'], dtype=object)

In [ ]:
y_pred

array(['no', 'no', 'yes', 'yes', 'yes'], dtype=object)

In [ ]:
from sklearn.metrics import confusion_matrix,accuracy_score
cm=confusion_matrix(y_test,y_pred)
cm

array([[1, 0],
       [1, 3]])

In [ ]:
accuracy_score(y_test,y_pred)

0.8